.user-info {
  margin: 0 0 33px 0;

  &__title {
    margin: 0 0 20px 0;
    font: 500 16px/24px 'Montserrat-Medium', sans-serif;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}